In [26]:
# take natural language as input and convert into sql statements to get data from in memory database 
# use pandas for this activity 
import os 
import openai 
import pandas as pd 
import zipfile
import urllib
import urllib.request

# store the api key as environment variable
openai.api_key = os.getenv("OPENAI_API_KEY")

In [27]:
DOWNLOAD_ROOT="https://www.kaggle.com/api/v1/datasets/download/kyanyoga/sample-sales-data"
DATA_LOCATION="/Users/rohitabhishek/Python_Workspace"
DATA_PATH=os.path.join(DATA_LOCATION, "openai_programs", "udemy_openai", "DATA")

In [ ]:
def fetch_sales_data(data_url=DOWNLOAD_ROOT, data_path=DATA_PATH):
    os.makedirs(data_path, exist_ok=True)

    # give filename 
    zip_file = os.path.join(data_path, "sample-sales-data.zip")

    urllib.request.urlretrieve(data_url, zip_file)

    # extract the data 
    sales_tgz=zipfile.ZipFile(zip_file)
    sales_tgz.extractall(path=data_path)
    sales_tgz.close()

files = os.listdir(DATA_PATH)
if "sales_data_sample.csv" not in files: 
    fetch_sales_data()

In [31]:
os.listdir(DATA_PATH)

['sample-sales-data.zip', 'sales_data_sample.csv']

In [39]:
data_location=os.path.join(DATA_PATH, "sales_data_sample.csv")
df=pd.read_csv(data_location)
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [40]:
df["YEAR_ID"].value_counts()

YEAR_ID
2004    1345
2003    1000
2005     478
Name: count, dtype: int64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [42]:
df.groupby("QTR_ID").sum()["SALES"]

QTR_ID
1    2350817.73
2    2048120.30
3    1758910.81
4    3874780.01
Name: SALES, dtype: float64

``` 
We want to give question like what is the total sales per quater which is equivalent to 
SELECT SUM(SALES) FROM TABLE GROUP BY QTR_ID
```

In [43]:
import sqlalchemy
from sqlalchemy import create_engine, text

In [44]:
# create in-memory database 
temp_db = create_engine("sqlite:///:memory:", echo=True)
data=df.to_sql(name="Sales", con=temp_db)

2025-06-03 18:56:13,012 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 18:56:13,015 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2025-06-03 18:56:13,015 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-06-03 18:56:13,016 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2025-06-03 18:56:13,016 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-06-03 18:56:13,017 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2025-06-03 18:56:13,017 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2025-06-03 18:56:13,018 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2025-06-03 18:56:13,019 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2025-06-03 18:56:13,091 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-06-03 18:56:13,092 INFO sqlalchemy.engine.Engine [generated in 0.06557s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2025-06-03 18:56:13,100 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-06-03 18:56:13,101 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-06-03 18:56:13,101 INFO sqlalchemy.engine.Engine COMMIT

In [45]:
with temp_db.connect() as conn:
    result=conn.execute(text("SELECT QTR_ID, SUM(SALES) from Sales Group by QTR_ID"))

result.all()

2025-06-03 18:56:14,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-03 18:56:14,851 INFO sqlalchemy.engine.Engine SELECT QTR_ID, SUM(SALES) from Sales Group by QTR_ID
2025-06-03 18:56:14,851 INFO sqlalchemy.engine.Engine [generated in 0.00096s] ()
2025-06-03 18:56:14,852 INFO sqlalchemy.engine.Engine ROLLBACK

[(1, 2350817.73), (2, 2048120.3), (3, 1758910.81), (4, 3874780.01)]

``` 
Create OPENAI prompt
```

In [46]:
# get details from csv for open ai to understand 
csv_details_prompt = f"""I have a CSV File with following columns: \n
{','.join(str(col) for col in df.columns)}.\nCreate a python function to insert record from this CSV to SQLLite table. 
"""
print(csv_details_prompt)

I have a CSV File with following columns:

ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE.
Create a python function to insert record from this CSV to SQLLite table.

In [ ]:
class CreateBot:
    def __init__(self, system_prompt):
        self.system_prompt=system_prompt
        self.message=[{"role" : "system", "content" : system_prompt}]

    def create_question_prompt(self):
        question = ""
        print("To Terminate type END")

        while question!= "END":
            question = input("Your question is: ")
            print ("\n")

            self.message.append({"role": "system", "content": question})

            response=openai.ChatCompletion.create(
                model="gpt-3.5-turbo", 
                messages=self.message
            )

            content=response["choices"][0]["message"]["content"]
            print("\n")
            print(content)
            print("\n")

            self.message.append({"role" : "assistant", "content": content})

In [52]:
python_expert = CreateBot(system_prompt="You are a Python Programming expert.")
python_expert.chat(csv_details_prompt)

TypeError: CreateBot.chat() takes 1 positional argument but 2 were given